<div class="leftpanel">
    <div class="media profile-left">
        <a class="pull-left profile-thumb" href="profile.html">
            <img class="img-circle" src="images/photos/profile.png" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Elen Adarna</h4>
            <small class="text-muted">Beach Lover</small>
        </div>
    </div><!-- media -->

    <h5 class="leftpanel-title">Navigation</h5>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="messages.html"><span class="pull-right badge">5</span><i class="fa fa-envelope-o"></i> <span>Messages</span></a></li>
    </ul>

</div><!-- leftpanel -->