{% extends "::Cabinet/layout.html.twig" %}
{% block content %}
    <h2>User profile</h2>

    <form class="form-horizontal form-bordered" action="{{ path('_cabinet_profile') }}" method="post" {{ form_enctype(form) }}>
        <div class="form-group">
            <label class="col-sm-4 control-label">Enter you name</label>
            <div class="col-sm-8">
                {{ form_widget(form.username, {'attr': {'class' : 'form-control' }}) }}
            </div>
        </div><!-- form-group -->

        <div class="form-group">
            <label class="col-sm-4 control-label">Upload picture</label>
            <div class="col-sm-8">
                {{ form_widget(form.image, {'attr': {'class' : 'form-control' }}) }}
            </div>
        </div><!-- form-group -->

        <div class="panel-footer">
            <button class="btn btn-primary mr5">Save</button>
        </div>
    </form>
{% endblock %}